<div class="page-header">
  <h3><%= @plane.model %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-4">
    <dl class="dl-horizontal">

      <dd><img src="<%= @plane.photo.source %>" width="600" class="img-circle"></dd>

      <dt>Capacity</dt>
      <dd><%= @plane.capacity %> passengers</dd>

      <dt>Cabin height</dt>
      <dd><%= @plane.cabin_height %> ft</dd>

      <dt>Pilots</dt>
      <% @plane.pilots.each do |pilot| %>
        <dd><a href="/pilots/<%= pilot.id %>"><%= pilot.name %></a></dd>
      <% end %>

      <dt><a href="/routes">Routes</a></dt>
      <% @plane.trips.each do |trip| %>
        <dd><%= trip.route.departure.city %> to <%= trip.route.arrival.city %></dd>
      <% end %>

    </dl>

  </div>
</div>
