<div class="page-header">
  <h3>Arrival #<%= @arrival.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Call letters</dt>
      <dd><%= @arrival.call_letters %></dd>

      <dt>City</dt>
      <dd><%= @arrival.city %></dd>

      <dt>State</dt>
      <dd><%= @arrival.state %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/arrivals" class="btn btn-primary">
        Back
      </a>
      <a href="/arrivals/<%= @arrival.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_arrival/<%= @arrival.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
