<div class="page-header">
  <h3>Departure #<%= @departure.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Call letters</dt>
      <dd><%= @departure.call_letters %></dd>

      <dt>City</dt>
      <dd><%= @departure.city %></dd>

      <dt>State</dt>
      <dd><%= @departure.state %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/departures" class="btn btn-primary">
        Back
      </a>
      <a href="/departures/<%= @departure.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_departure/<%= @departure.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
