<div class="page-header">
  <h3><%= @pilot.name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">

      <dd><img src="<%= @pilot.photo.source %>" class="img-circle"></dd>

      <dt>Rank</dt>
      <dd><%= @pilot.rank %></dd>

      <dt>About</dt>
      <dd><%= @pilot.bio %></dd>


      <dt>Plane</dt>
      <dd><%= @pilot.plane.model %></dd>

    </dl>

  </div>
</div>
